// values start
$lightBlue: rgba(53, 173, 242, 1);

@mixin padding-usual-1000 {
    padding: 5% 12.5%;
}

// values end

// max-width
@media(max-width: 1600px) {
    .prices {
        .prices__row {
            .prices__column {
                height: 400px;
            }

            .prices__column_tall {
                height: 450px;
            }
        }
    }
}

@media(max-width: 1500px) {
    nav {
        .nav__links {
            .nav__link {
                font-weight: 400;

                &::before {
                    height: 2px;
                }
            }
        }
    }

    header {
        .header__column {
            button {
                max-width: 100%;
                padding: 5%;
            }
        }
    }
}

@media(max-width: 1400px) {
    #onlyBefore-1400px {
        display: none;
    }

    .programm {
        .programm__row_center {
            justify-content: space-between;

            .programm__column {
                margin: 0;
            }
        }

        .programm__row {
            .programm__column {
                width: 47.5%;
            }
        }
    }

    #onlyFrom-1400px {
        display: block;
    }
}

@media(max-width: 1330px) {
    .prices {
        .prices__row {
            .prices__column {
                .prices__title {
                    font-size: 20px;
                }

                .prices__price-title {
                    font-size: 30px;
                }
            }
        }
    }
}

@media(max-width: 1300px) {
    .stages {
        .stages__ul {
            .stages__li {
                padding-left: 15%;
            }
        }
    }

    .prices {
        .prices__row {
            .prices__column {
                height: 350px;

                .prices__subtitle {
                    font-size: 11.5px;
                }
            }

            .prices__column_tall {
                height: 400px;
            }
        }
    }
}

@media(max-width: 1000px) {
    #pc-only {
        display: none;
    }

    #mobile-only {
        display: flex;
    }

    nav {
        background-color: $lightBlue;

        .nav__title {
            font-weight: 600;
        }
    }

    header {
        @include padding-usual-1000;

        .header__column {
            &:first-child {
                width: 100%;

                text-align: center;
            }

            &:last-child {
                display: none;
            }
        }

        img {
            display: none;
        }
    }

    .stages {
        .stages__ul {
            max-width: 100%;
        }
    }

    .properties {
        .properties__row {
            flex-direction: column;
            align-items: center;

            .properties__column {
                width: 100%;
                margin-top: 5%;
            }
        }
    }

    .advantages {
        .stages__ul {
            flex-direction: column;

            max-width: 75%;

            .advantages-stages-ul__row {
                width: 100%;

                flex-direction: column;

                .stages__li {
                    width: 100%;
                    padding-left: 20%;
                    margin-bottom: 5%;
                }

                h1 {
                    font-size: 25px;
                }

                p {
                    font-size: 20px;
                }

                h1,p{
                    position: relative;
    
                    &::before{
                        content: '';
    
                        width: 100%;
                        height: 100%;
    
                        position: absolute;
                        z-index: -1;
    
                        background-color: black;
                        border-radius: 5px;
    
                        opacity: 0.75;
                    }
                }
            }
        }
    }

    .programm {
        .programm__row {
            .programm__column {
                .programm__bg-num {
                    font-size: 17.5vw;
                }
            }
        }
    }

    .prices {
        .prices__row {
            flex-direction: column;

            .prices__column {
                width: 51.5vw;
                max-width: 500px;
                height: 400px;
                margin: 2.5% 0;

                .prices__title {
                    font-size: 25px;
                }

                .prices__price-title {
                    font-size: 30px;
                }

                .prices__subtitle {
                    font-size: 14px;
                }

                .prices__info-block {
                    p {
                        margin: 2.5% 0;
                    }

                    button {
                        padding: 2.5%;
                    }
                }
            }

            .prices__column_tall {
                width: 60vw;
                height: 450px;
            }
        }
    }

    footer {
        .footer__column {
            .svg__ico:first-child {
                margin-right: 7.5%;
            }
        }
    }
}

@media(max-width: 800px) {
    .programm {
        .programm__row {
            justify-content: normal;
            flex-direction: column;
            align-items: center;

            .programm__column {
                width: 100%;
                padding: 25% 0;

                .programm__bg-num {
                    font-size: 250px;

                    top: -15%;
                }
            }
        }
    }
}

// @media(max-width: 650px){
//     .stages{
//         .stages__ul{
//             .stages__li{
//                 padding-left: 17.5%;
//             }
//         }
//     }
// }

@media(max-width: 600px) {
    .stages {
        .screen__title {
            font-size: 35px;
        }

        .screen__subtitle {
            font-size: 25px;
        }

        .stages__ul {
            padding-left: 0;

            .stages__li {
                margin-top: 15%;

                h1 {
                    font-size: 17px;
                }

                p {
                    font-size: 13px;
                }

                &::before {
                    font-size: 17px;

                    padding: 11px 15px;
                }

                .stages__li_border {
                    padding: 17px;
                }
            }
        }
    }

    .properties {
        .screen__title {
            font-size: 35px;
        }

        .screen__subtitle {
            font-size: 25px;
        }
    }

    .advantages {
        span {
            margin-bottom: 15%;

            .screen__title {
                font-size: 30px;
            }

            .screen__subtitle {
                font-size: 20px;
            }
        }

        .stages__ul {
            flex-direction: column;

            max-width: 100%;

            .advantages-stages-ul__row {
                .stages__li {
                    margin-bottom: 10%;
                }
            }
        }
    }

    .prices {

        span {
            .screen__title {
                font-size: 35px;
            }

            .screen__subtitle {
                font-size: 20px;
            }
        }

        .prices__row {
            .prices__column {
                width: 350px;
            }

            .prices__column_tall {
                width: 375px;
            }
        }
    }

    footer {
        flex-direction: column;

        .footer__column {
            width: 100%;
            padding: 7.5% 0;

            &:first-child,
            &:last-child {
                justify-content: center;
            }

            p {
                font-size: 4.75vw;
            }

            .svg__ico:first-child {
                margin-right: 7.5%;
            }
        }
    }
}

@media(max-width: 500px) {
    header {
        .screen__title {
            font-size: 32.5px;
        }
    }

    .programm {
        span {
            .screen__title {
                font-size: 35px;
            }
        }

        .programm__row {
            .programm__column {
                padding-top: 50%;

                .screen__title {
                    font-size: 20px;

                    margin-bottom: 7.5%;
                }

                .screen__subtitle {
                    font-size: 12px;
                }

                .programm__bg-num {
                    font-size: 200px;

                    top: 5%;
                }
            }
        }
    }

    .prices {
        .prices__row {
            flex-direction: column;

            .prices__column {
                margin: 2.5% 0;
            }
        }
    }
}

@media(max-width: 460px) {
    .properties {
        .screen__title {
            font-size: 28px;
        }
    }

    .invisible__nav-block {
        .invisible__nav-content {
            width: 100%;
        }
    }
}

@media(max-width: 400px) {
    .stages {
        .stages__ul {
            .stages__li {
                text-align: center;

                &:before,
                .stages__li_border {
                    height: 15px;

                    top: 42.5%;
                }
            }
        }
    }

    .prices {
        span {
            .screen__title {
                font-size: 27.5px;
            }

            .screen__subtitle {
                font-size: 17.5px;
            }
        }

        .prices__row {
            .prices__column {
                width: 275px;
            }

            .prices__column_tall {
                width: 300px;
            }
        }
    }

    .invisible__nav-block {
        width: 100%;

        .svg__links {
            width: 95%;

            .svg__link {
                width: 16.5%;
            }
        }
    }
}

// max-width

// max-height
@media(max-height: 880px) {
    header {
        @include padding-usual-1000;
    }
}

// max-height